<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yqh.tv.screen.tools.adapter">

    <application>
        <provider
            android:name="com.yqh.base.provider.InitProvider"
            android:authorities="${applicationId}.yqh-base-init-provider"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>